<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>      
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,
          [*Tests]*
          </Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeByFile>
          **/test/**/*.cs
          ,**/src/BeangoTownServer.Domain/**/*.cs
          ,**/src/BeangoTownServer.Domain.Shared/**/*.cs
          ,**/src/BeangoTownServer.Worker/**/*.cs
          ,**/src/BeangoTownServer.Application.Contracts/**/*.c.cs
          ,**/src/BeangoTownServer.Application.Contracts/**/*.g.cs
          ,**/src/BeangoTownServer.Application.Contracts/Contract/*.cs
          ,**/src/BeangoTownServer.Application.Contracts/NFT/*.cs
          ,**/src/BeangoTownServer.Application.Contracts/Portkey/PortkeyOptions.cs
          ,**/src/BeangoTownServer.Application/Contract/*.cs
          ,**/src/BeangoTownServer.Application/Common/*.cs
          ,**/src/BeangoTownServer.Application/Portkey/*.cs
          </ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>    
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>